.weber {
  color: wheat;
  font-size: 7em;
  margin-top: 1%;
}

.home {
  color: white;
  text-align: center;
}

.fline {
  margin-top: 20px;
}

.ico {
  color: white;
}

.er {
  color: lightblue;
}

.img {
  height: 5%;
  width: 15%;
  margin-right: 15px;
}

.img:hover {
  background-color: rgb(49, 74, 218);
  border-radius: 5px;
}

.fr {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-between;
}

@media (max-width: 858px) {
  .weber {
    font-size: 4em;
  }
  .img {
    margin-right: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
  }
  .fr {
    display: grid;
  }
}
