.topic {
  margin: 2%;
  padding: 2%;
  color: rgb(3, 3, 3);
  font-size: larger;
}

.code {
  background-color: rgba(17, 2, 83, 0.932);
  padding: 2%;
  border-radius: 4px;
  margin: 2%;
  color: white;
}

.desc {
  color: black;
  padding: 2%;
  margin: 2%;
}

.d{
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  margin-bottom: 5%;
}

.question{
  margin: 2%;
  background-color: rgb(205, 209, 212);
  padding: 2%;
  border-radius: 2px;
}

.answer{
  margin: 2%;
  background-color: rgb(171, 211, 241);
  padding: 2%;
  border-radius: 2px;
}
