.box{
  height: 360px;
  background-color: grey;
}

.textarea{
  padding-bottom: 200px;
  font-size: 1em;
  padding-right: 0px;
  margin-left: 0;
}

.butt{
  float: inline-end;
  padding: 2px;
  color: rgb(5, 4, 4);
  background-color: rgb(244, 246, 248);
  margin: 0;
  border-radius: 4px;
  border-color: rgb(74, 74, 189);
}
.butt:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(4, 134, 15);
}

.post{
  margin-top: 2%;
  float: inline-end;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(2, 102, 10);
  color: white;
  border-radius: 5px;
}
.post:hover, .cancel:hover{
  cursor: pointer;
  background-color: rgb(10, 10, 10);
}

.cancel{
  margin-top: 2%;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(172, 5, 5);
  color: white;
  border-radius: 5px;
}